.Pagina{
	padding-top: 100px;
	padding-left: 50px;
	width: 95%;
	font-size: 20px;
	text-align: justify;
}

.titulo {
	background: #f67c01;
	color: white;
	font-size: 40px;
}

.titulo2 {
	color: #f67c01;
	font-size: 28px;
}

.titulo3 {
	color: #C8A206;
	font-size: 24px;
}

.textCenter{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.autor {
	padding-left: 85%;
}

.cita {
	font-style: italic;
	padding-left: 80px;
}

.permiso {
	padding-bottom: 5px;
	align-content: center;
}

.desing{
	padding-bottom: 5px;
	align-content: center;
}

.italic {
	font-style: italic;
}

.acordion {
	background-color: #302F2F;
}
.carta {
	height:50rem;
	width: 100%;
	margin-top:1%;
}
img {
	width: 90%;
}

.bold {
	font-weight: bold;
}

.overdraw {
	padding-right: 10%;
}

.seccion {
	padding-bottom: 25px;
	padding-top: 25px;
}

.row {
	padding-top: 5px;
	padding-bottom: 5px;
}